body{
    background:#111;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0;
    touch-action:none;
    overscroll-behavior:contain;
}

/* evita blur no pixel art */
canvas{
    image-rendering:pixelated;
    border:4px solid white;
}

/* CONTROLES MOBILE (se quiser usar depois) */
#mobileControls{
    position:fixed;
    bottom:20px;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:0 40px;
    box-sizing:border-box;
}

#mobileControls button{
    width:120px;
    height:120px;
    font-size:40px;
    border:none;
    border-radius:20px;
    background:#ffffff22;
    color:white;
    backdrop-filter:blur(5px);
}

/* esconder no computador */
@media (hover:hover){
    #mobileControls{
        display:none;
    }
}

/* HUD texto arcade */
.hud{
    position:fixed;
    top:10px;
    left:10px;
    color:white;
    font-family:monospace;
    font-size:14px;
    text-shadow:2px 2px 0 #000;
    pointer-events:none;
}
