body{
    background:#111;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow:hidden;
    touch-action:none;
    overscroll-behavior:contain;
    font-family:Arial, Helvetica, sans-serif;
}

/* tela do jogo estilo console */
canvas{
    image-rendering:pixelated;
    border:4px solid white;

    width:auto;
    height:auto;
    max-width:100vw;
    max-height:100vh;
}

/* pausa */
#pauseBtn{
    position:fixed;
    top:20px;
    right:20px;
    z-index:10;
    font-size:22px;
    padding:12px 18px;
    border-radius:12px;
    border:none;
    background:#ffffff22;
    color:white;
    backdrop-filter:blur(5px);
}

/* mobile controls */
#mobileControls{
    position:fixed;
    bottom:20px;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:0 40px;
    box-sizing:border-box;
}

#mobileControls button{
    width:110px;
    height:110px;
    font-size:36px;
    border:none;
    border-radius:20px;
    background:#ffffff22;
    color:white;
    backdrop-filter:blur(5px);
}

@media (hover:hover){
    #mobileControls{
        display:none;
    }
}
